# Dependencies
/frontend/node_modules
/frontend/build
/backend/__pycache__
/backend/venv
*.pyc

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local
.env.development
.env.production

# IDE
.vscode
.idea

# Misc
.DS_Store
*.log

.ipynb_checkpoints/

backend/data/*.csv
notebooks/

backend/images
backend/data/*/
backend/scrapers/.Rhistory

github-actions-key
github-actions-key.pub
github-actions-keys/

llm_insights.py

.venv/